.mat-card {
  /* display: flex; */
  justify-content: center;
  margin: 1px auto; 
  width: 400px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card-content {
  justify-content: center;
  width: 100%;
}

.mat-card-title {
  justify-content: flex-end;
  font-size: 1.1rem;
}

.mat-card-subtitle {
  justify-content: flex-end;
  font-size: 1rem;
}

.button {
  width: 100%;
  justify-content: flex-end;
  transition: 0.4s;
}

.button:hover {
  transition: 0.4s;
  color: white;
  background-color: rgb(51, 17, 78);
}
