<mat-card class="AllLogin mat-elevation-z8">
  <mat-card class="mainLoginLeft">

  </mat-card>
  <mat-card class="mainLoginRight mat-elevation-z8">

    <mat-card-title class="h-middle">Sentimos sua falta Designer...</mat-card-title>
    <mat-card-subtitle class="h-middle">Login</mat-card-subtitle>
    <mat-card-content>
      <form>
        <mat-form-field class="field">
          <input matInput placeholder="Email" [(ngModel)]="usuario.email" name="email">
        </mat-form-field>
        <mat-form-field class="field">
          <input matInput placeholder="Senha" [(ngModel)]="usuario.password" name="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="btnLogin" (click)="createSession()">Logar</button>
      </form>
    </mat-card-content>

    <a class="cad" routerLink="/home/cadastro" >
      <i class="material-icons v-middle">
        person
      </i>
      Não possui Conta ainda? <span style="color: #59b9df;">Cadastre-se aqui! </span>
    </a>
  </mat-card>
</mat-card>
