<mat-toolbar class="headerMain mat-elevation-z12">
  <span class="logo v-top">
    <a routerLink="">
      <img class="logo" src="../../assets/img/DevLogoWhite.png" alt="Logo">
    </a>
  </span>
  <mat-toolbar class="headerSub mat-elevation-z12">
    <ul class="headerMenu">
      <mat-search-bar [placeholder]="'procurando algo?'" style="margin-right: 100px;">

      </mat-search-bar>
      <li>
        <button mat-mini-fab color="link" routerLink="/home" class="menuButton ">
          <a>
            <i class="material-icons">
              home
            </i>
          </a>
        </button>
      </li>
      <li>
        <button mat-mini-fab color="link" routerLink="/home/login" class="menuButton ">
          <a>
            <i class="material-icons">
              person
            </i>
          </a>
        </button>
      </li>
    </ul>
  </mat-toolbar>
</mat-toolbar>
<mat-toolbar class="subnav v-middle" color="raised">
  <a style="margin-right: 5px; font-size: smaller; font-weight: 1rem;" href="https://github.com/BandTec/monitor.me">
    <fa-icon [icon]="['fab', 'github']" style="margin-right: 2px;"></fa-icon> Join us on Github
  </a>
  <ul>
    <li>
      <a href="http://dontpad.com/monitorme" style="margin-right: 5px; font-size: smaller; font-weight: 1rem;">
        <fa-icon [icon]="['fab', 'facebook']" style="margin-right: 2px;"></fa-icon> facebook
      </a>
    </li>
  </ul>
</mat-toolbar>

<mat-card-content class="mainContent">
  <router-outlet></router-outlet>
</mat-card-content>

<mat-card-content class="mainContent">
  <mat-tab-group dynamicHeight class="tabMain">
    <mat-tab label="Conheça a MonitorMe" color="primary">
      <div class="large-box mat-elevation-z4">
        <mat-card-content class="mainInstLeft">
          <span class="headerInst">MonitorMe</span>
          <br><br><br><br><br>
          <p>Aplicação para controle de desempenho de Hardware nos processos de edição de mídia.</p><br><br>
          <p>Monitore a utilização de componentes durante o fluxo de trabalho.</p><br><br>
          <p>Receba alertas para prevenir a perda de materiais e danos nos equipamentos.</p><br><br>
          <p>Maior performance e segurança em sua rotina de trabalho!</p>
        </mat-card-content>
        <mat-card class="mainInstRight">

        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Como Usar?">
      <div class="large-box mat-elevation-z4">
        <mat-card-content class="scndInstLeft">

        </mat-card-content>
        <mat-card class="scndInstRight">
          <span class="headerInst">Join Us</span>
          <br><br><br><br><br>
          <p>Acesse a nossa página de Login para realizar o seu cadastro</p><br><br>
          <p>Adquira o nosso Software na versão mais atualizada</p><br><br>
          <p>Faça o download do MonitorMe em seu computador</p><br><br>
          <p>Realize o Login com o usuário e senha cadastrados</p>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="O Time!">
      <div class="large-box v-middle" style="background-color: rgba(0, 0, 0, 0.301);">
        <div class="mainDevs">
          <mat-card class="profileCard">
            <mat-card-header>
              <mat-card-title>Pessoa x</mat-card-title>
              <mat-card-subtitle>Developer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/devP.png" alt="Profissional">
            <mat-card-content class="profileData">
              <a style="margin-right: 5px; font-size: medium; font-weight: 1rem;"
                href="https://github.com/BandTec/monitor.me">
                <fa-icon [icon]="['fab', 'github']" size="lg" style="margin-right: 2px;"></fa-icon>
                Pessoa x
              </a>
            </mat-card-content>
          </mat-card>

          <mat-card class="profileCard">
            <mat-card-header>
              <mat-card-title>Pessoa x</mat-card-title>
              <mat-card-subtitle>Developer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/devP.png" alt="Profissional">
            <mat-card-content class="profileData">
              <a style="margin-right: 5px; font-size: medium; font-weight: 1rem;"
                href="https://github.com/BandTec/monitor.me">
                <fa-icon [icon]="['fab', 'github']" size="lg" style="margin-right: 2px;"></fa-icon>
                Pessoa x
              </a>
            </mat-card-content>
          </mat-card>

          <mat-card class="profileCard">
            <mat-card-header>
              <mat-card-title>Gabriel Souza</mat-card-title>
              <mat-card-subtitle>Web-Developer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/devP.png" alt="Profissional">
            <mat-card-content class="profileData">
              <a style="margin-right: 5px; font-size: medium; font-weight: 1rem;"
                href="https://github.com/vulgosouza">
                <fa-icon [icon]="['fab', 'github']" size="lg" style="margin-right: 2px;"></fa-icon>
                Pessoa x
              </a>
            </mat-card-content>
          </mat-card>

          <mat-card class="profileCard">
            <mat-card-header>
              <mat-card-title>Pessoa x</mat-card-title>
              <mat-card-subtitle>Developer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/devP.png" alt="Profissional">
            <mat-card-content class="profileData">
              <a style="margin-right: 5px; font-size: medium; font-weight: 1rem;"
                href="https://github.com/BandTec/monitor.me">
                <fa-icon [icon]="['fab', 'github']" size="lg" style="margin-right: 2px;"></fa-icon>
                Pessoa x
              </a>
            </mat-card-content>
          </mat-card>

          <mat-card class="profileCard">
            <mat-card-header>
              <mat-card-title>Pessoa x</mat-card-title>
              <mat-card-subtitle>Developer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/devP.png" alt="Profissional">
            <mat-card-content class="profileData">
              <a style="margin-right: 5px; font-size: medium; font-weight: 1rem;"
                href="https://github.com/BandTec/monitor.me">
                <fa-icon [icon]="['fab', 'github']" size="lg" style="margin-right: 2px;"></fa-icon>
                Pessoa x
              </a>
            </mat-card-content>
          </mat-card>

        </div>
        <mat-card-content class="scndInstLeft">

        </mat-card-content>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card-content>
<app-footer-main></app-footer-main>
