.headerMain {
  min-height: 12vh;
  display: flex;
  height: 300px;
  background-color: rgb(123, 31, 163);
  justify-content: space-between ;
  align-items: initial;
  background-image: url(../../assets/img/backrender.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.headerSub{
  margin-top: 15px;
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(123, 31, 163, 0.5);
}

.headerMenu {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  text-decoration: none;
  list-style: none;
  float: right;
}

.menuButton {
  margin-right: 15px;
}

.logo {
  max-height: 180px;
  max-width: 250px;
}

.mainContent {
  display: flex;
  justify-content: center;
  /* background-image: url(../../assets/img/stressed.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 40vw;
  margin: 5px auto;
  background-color: transparent;
  background-color: rgb(200, 200, 200);
}

.large-box {
  display: flex;
  align-items: left;
  width: 100%;
  justify-content: left;
  margin: 30px;
  padding: 20px;
  border-radius: 8px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  width: 90vw;
  color: white;
}

.mainInstLeft {
  width: 55vw;
  margin-right: 5vw;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: large;
  font-weight: normal;
  font-style: italic;
  font-stretch: expanded;
  line-height: 120%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainInstRight {
  width: 55vw;
  background-size: cover;
  background-repeat: no-repeat;  
  background-image: url(../../assets/img/imgeditor.jpg);
}
