<mat-card-content class="mainContent">
    <div class="large-box mat-elevation-z4">
        <mat-card-content class="scndInstLeft">

        </mat-card-content>
        <mat-card class="scndInstRight">
          <span class="headerInst">Join Us</span>
          <br><br><br><br><br>
          <p>Acesse a nossa página de Login para realizar o seu cadastro.</p><br><br>
          <p>Adquira o nosso Software na versão mais atualizada.</p><br><br>
          <p>Faça o download do MonitorMe em seu computador.</p><br><br>
          <p>Faça o Login com o usuário e senha cadastrados!</p>
        </mat-card>
      </div>
</mat-card-content>