<div class="grid-container">
  <mat-card class="contentAlert mat-elevation-z6">
    <mat-card-content>
      <mat-card-title>Máquinas em Alerta</mat-card-title>
      <mat-card class="small-card" *ngFor="let data of dataFromApi">
        <div class="pcStatus">
          <h1 style="color: lightblue; display:flex; justify-content: center; font-size: small;">{{nomeProcessador}}</h1>
          <h1 style="color: lightblue; display:flex; justify-content: center; font-size: small;">{{nomeGpu}}</h1>
          <span style="color: #df8f8f;">Temperatura <p style="font-size: medium; font-weight: 400;">{{tempProcessador}}</p></span>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
  <h1 class="mat-h1">Bem-vindo {{userLogado}}</h1>
  <h2>Temperatura média da gpu: {{ArrayTempGpu}}</h2>
</div>

<mat-card class="contentCanva mat-elevation-z12">
  <div width="200" height="200" style="background-color: #ffffff;">
    <canvas #dashGPU>
    </canvas>
  </div> 
</mat-card>
