<div class="grid-container">
  <mat-card class="contentAlert mat-elevation-z6">
    <mat-card-content>
      <mat-card class="small-card" *ngFor="let data of dataFromApi">
        <h1 style="color: red; width: 500px; height: 500px;">{{nomeProcessador}}</h1>
      </mat-card>
    </mat-card-content>
  </mat-card>
  <h1 class="mat-h1">Bem-vindo {{userLogado}}</h1>
  <h2>Temperatura média da gpu: {{ArrayTempGpu}}</h2>
</div>

<mat-card class="contentAlert mat-elevation-z6">
  <div width="400" height="400">
    <canvas #dashGPU>
    </canvas>
  </div>  
</mat-card>
