.header{
    display: flex;
    align-items: center;
    min-height: 90px;
    background-color: #7b1fa2;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 80px;
    max-width: 142px;
}
.title-group{
    background-color: rgb(173, 165, 165);
    transition: 0.3s;
}
.title-group:hover{
    background-color: rgb(156, 17, 17);
    transition: 0.3s;
    transform: scale(1.1);
}